{% extends 'base.html' %}
{%block content%}
<h3>Listagem de navios</h3>
<table class="table">
	<thead>
		<tr>
			<th>Editar</th>
			<th>Nome</th>
			<th>Designacao Hughes</th>
			<th>Designacao Sky Reach</th>
			<th>ENS MODEM</th>
			<th>Solucao</th>
		</tr>
	</thead>
	<tbody>
		{%for n in navios%}
			<tr>
				<td class="a-table">
				<a href="{% url 'navios:navio_edit' navio_id=n.id %}">Editar</a></td>
				<td>{{n.nome}}</td>
				<td>{{n.designacao_hughes}}</td>
				<td>{{n.designacao_skyreach}}</td>
				<td>{{n.esn_modem}}</td>
				<td>{{n.solucao_instalada}}</td>
			</tr>

		{%endfor%}
	</tbody>
</table>


{%endblock%}